/* * {
  margin: 0;
  box-sizing: border-box;
} */

html {
  scroll-behavior: smooth;
}

.columns {
  margin-left: 0;
  margin-right: 0;
}

body {
  margin: 0;
  box-sizing: border-box;
  background-color: #282c33;
  font-family: "Fira Code", monospace;
  /* color: #eee; */
}

.has-text-violeta {
  color: #7b4ae2;
}

/* .home,
.header {
  margin: 0 auto;
  width: 60%;
} */

.navbar,
.section-principal {
  width: 90%;
  margin: 0 auto;
}

/* .home {
  position: relative;
} */

@media (min-width: 1100px) {
  .home,
  .header {
    max-width: 60%;
    margin: 0 auto;
  }
}

@media (min-width: 900px) {
  .section-principal {
    margin-top: 70px;
  }
}

.logo-nombre {
  font-weight: 700;
}

.navbar {
  background-color: #282c33;
}

.navbar-item > a {
  text-decoration: none;
  color: #fff;
}

.saludos {
  color: #7b4ae2;
  text-align: center;
  font-family: "Fira Code";
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  width: 150px;
  border-radius: 16px;
  background: rgba(123, 74, 226, 0.1);
}

.grettins-nombre {
  color: #fff;
  font-family: Fira Code;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.profesion {
  color: #abb2bf;
  font-family: "Fira Code";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.caja-borde-fino {
  border: 1px solid;
  border-color: #abb2bf;
  width: 147px;
  color: #abb2bf;
}

.figure {
  width: 200px;
  position: relative;
}

@media (min-width: 900px) {
  .figure {
    width: 200px;
  }
  .img-container .figure .circulo {
    width: 280px;
    height: 280px;
  }
}

.figure .img_personal {
  width: 100%;
  /* position: relative; */
  z-index: 1;
  opacity: 0.7;
}

/* .img-container {
  position: relative;
} */

.linea-violeta {
  width: 50%;
  height: 1px;
  background-color: #7b4ae2;
  animation: grow auto linear both;
  animation-timeline: view();
  animation-range: 100px 300px;
}

@keyframes grow {
  from {
    width: 0;
  }
  to {
    width: 50%;
  }
}

@media (min-width: 900px) {
  .img-container {
    /* position: relative; */
    margin-top: 70px;
  }
}

.circulo {
  opacity: 0.6;
  position: absolute; /* Posición absoluta en relación con el contenedor */
  width: 200px; /* Ancho del círculo */
  height: 200px; /* Alto del círculo (mismo valor que el ancho para hacerlo circular) */
  background-color: #7b4ae233; /* Color de fondo del círculo */
  border-radius: 50%; /* Border-radius del 50% para hacerlo circular */
  left: 50%; /* Posiciona el centro del círculo en el centro horizontal del contenedor */
  top: 50%; /* Posiciona el centro del círculo en el centro vertical del contenedor */
  transform: translate(
    -70%,
    -45%
  ); /* Alinea el centro del círculo correctamente */
  filter: blur(20px);
}
.img_logo {
  position: absolute;
  max-height: 30px;
  max-width: 30px;
  /* opacity: 0.7; */
}

.logo_js {
  left: -90px;
  top: 80px;
}

.logo_react {
  left: -70px;
  top: 20px;
}

.logo_typescript {
  left: -70px;
  top: 140px;
}

.logo_htmlcss {
  top: -25px;
  left: -30px;
  /* left: 150px; */
  /* top: -35px; */
}
.caja-borde {
  /* position: absolute; */
  border: 1px solid;
  border-color: #abb2bf;
  /* width: 100%; */
  color: #abb2bf;
}

.cuadrado {
  width: 1rem;
  height: 1rem;
  background-color: #7b4ae2; /* Color de fondo del círculo */
}

/* Seccion skills */
